# **Linear Regression**

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

In [3]:
df = pd.read_csv('advertising.csv')

In [4]:
df.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3   12.0
3  151.5   41.3       58.5   16.5
4  180.8   10.8       58.4   17.9

In [5]:
df.shape

(200, 4)

In [6]:
df.isnull().sum()

TV           0
Radio        0
Newspaper    0
Sales        0
dtype: int64

In [7]:
X = df.iloc[:, :3]
y = df.iloc[:, -1]

### Train Test split

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

# Simple Linear Regression

In [9]:
from sklearn.linear_model import LinearRegression
linreg = LinearRegression()
linreg.fit(X_train, y_train)

LinearRegression()

In [10]:
y_pred = linreg.predict(X_test)

from sklearn.metrics import r2_score
score = r2_score(y_test, y_pred)
print(score)

0.8756374964497383

## Apply Linear Regression model by cross validation

We apply cross validation because when we apply the train test split it randomly picks some data and it will give the result that leads to diffrent accuracy score when we run the model and for same data if we run in other computer that gives diffrent accuracy score so
To get the same accuracy score and split the data in some format we use Cross validation

* to get good model we use cv = 3
* to get better model we use cv = 5
* to get best model we use cv = 9

In [11]:
from sklearn.model_selection import cross_val_score

mse = cross_val_score(linreg, X, y, scoring = 'neg_mean_squared_error', cv = 5)

mean_mse = np.mean(mse)

print(mean_mse)

-2.8582430099910097

In the above the mse is mean square error, nearer the mse value to 0 the better is the model