# **Simple Linear Regression**

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df = pd.read_csv('https://raw.githubusercontent.com/justmarkham/scikit-learn-videos/master/data/Advertising.csv')

In [5]:
df.head()

   Unnamed: 0     TV  Radio  Newspaper  Sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [6]:
df.drop('Unnamed: 0', axis =1, inplace = True)

In [7]:
df.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [8]:
df.shape

(200, 4)

In [10]:
df.isnull().sum()

TV           0
Radio        0
Newspaper    0
Sales        0
dtype: int64

In [11]:
X = df.iloc[:, :-1]

In [12]:
y = df.iloc[:, -1]

In [13]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.2)


# test_size = 0.2 means taking 20% of data for testing and remaining for training

In [14]:
print(X_train.shape)

(160, 3)

In [15]:
print(X_test.shape)

(40, 3)

In [16]:
print(y_train.shape)

(160,)

In [17]:
print(y_test.shape)

(40,)

### Applying the model

In [18]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [19]:
# Coef are the teta values i.e. (y = θ1x1 + θ2x2 + θ3x3)
#  here we get 3 theta values because we have 3 input features
model.coef_

array([ 0.04701253,  0.19274505, -0.00243742])

In [20]:
# intercept means c in formula (y = mx+c)
model.intercept_

2.7071798465104493

In [21]:
y_pred = model.predict(X_test)

In [22]:
# To see the accuracy

y_pred = model.predict(X_test)
from sklearn.metrics import r2_score
accuracy = r2_score(y_test, y_pred)
print(accuracy)

0.8069962651138557